{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>{{ event.title }}</h1>

<img src='{{event.photo.url}}' alt="{{ event.title }}">

<p>{{ event.notes }}</p>

<p>Location: {{ event.location }}</p>

<p>Attendees: {{ event.attendees }}</p>

<form action="" method="post">
    {% csrf_token %}
    <button type="submit" name="attending" style="border:none;background:none;">
        <i class="fa-solid fa-circle-check"></i></button>
</form>

<a href="{% url 'index' %}">back to main page</a>

{% endblock %}