{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid event-style">
    <h1 class=" event-title text-background-blue text-center">{{ event.title }}</h1>
    <img class="events-image" src="{{ event.photo.url }}" alt="{{ event.title }}">
    <br>
    <p>{{ event.notes }}</p>
    <p>Location: {{ event.location }}</p>
    <p>Attendees: {{ event.attendees }}</p>

    {% if username == 'guest' %}
    <h1>Guest</h1>
    {% else %}
    <form class="text-center" action="" method="post">
        {% csrf_token %}

        {% if signedUp %}
        <h1>Click the Icon to unregister</h1>
        <button type="submit" name="not_attending" style="border: none; background: none;">
            <i class="fa-solid fa-xmark fs-1"></i>
        </button>
        {% else %}
        <h1>Click the Icon to register</h1>
        <button type="submit" name="attending" style="border: none; background: none;">
            <i class="fa-solid fa-circle-check fs-1"></i>
        </button>
        {% endif %}
    </form>
    {% endif %}

    <a href="{% url 'index' %}">Back to main page</a>

</div>

{% endblock %}