/* ------------------------------------Global */
p {
    font-family: 'Source Sans 3', sans-serif;
}

.logo {
    height: 60px;
    width: 60px;
    margin: 0;
    padding: 0;
}

/* ------------------------------------Headings */

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.main-heading-container {
    height: 100vh;
    background-image: url('../uploads/main.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mission-heading,
.locations-heading {
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 25px;
}

.location {
    min-height: 300px;
}

/* ------------------------------------Colour */
body {
    color: whitesmoke;
    background-image: linear-gradient(#007ACC, #7B8FD3);
}

.text-background-blue {
    background-color: rgba(0, 122, 204, 0.7);
    padding: 20px;
    color: white;
}

:root {
    --bs-link-color: black;
    --bs-link-hover-color: whitesmoke;
}

.bg-color {
    background-color: #007ACC;
}

.navbar {
    --bs-navbar-color: whitesmoke;
    min-height: 100%;
    padding: 0;
}

.dropdown-item {
    background-color: #007ACC;
    color: whitesmoke;
}

.dropdown-menu {
    --bs-dropdown-padding-y: 0rem;
}

/* ------------------------------------Mission statement */

.mission-container {
    font-size: 18px;
}

.aims-heading {
    font-size: 22px;
    margin-bottom: 10px;
}

.aims-subheading {
    font-size: 20px;
    margin-bottom: 20px;
}

.main-mission-statement {
    font-size: 20px;
    font-weight: 900;
}

/* ------------------------------------Locations */

.location-1 {
    background-image: url('../uploads/bray.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

.location-2 {
    background-image: url('../uploads/strand.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

.location-3 {
    background-image: url('../uploads/location3.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

.locations a {
    text-decoration: none;
}

.col-md-4 {
    position: relative;
}

.location {
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: opacity 0.5s;
}

.col-md-4:hover .opaque-overlay {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
}

.bold-text {
    font-weight: 900;
}


/* ------------------------------------Footer */


footer {
    color: #fafafa;
    min-height: 80px;

}

.footer-icon {
    font-size: 15px;

}

.developer-image {
    height: 50px;
    width: 50px;

}

.developer-and-address-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

}

.address {
    text-align: left;
    margin-top: 20px;

}

.developer-images-container {
    display: flex;
    align-items: center;

    display: none;

}

.developer {
    text-align: center;
    margin: 10px;
}

.logo-footer {

    margin-top: 10px;
    height: 100px;
    width: 100px;
}

.copyright {
    font-size: 18px;
    display: none;
}

/*-----------------------CUSTOM ERROR PAGE  */

#custom-error {
    position: relative;
    height: 100vh;
    background-color: var(--background);
    color: white;
  }

  #custom-error .custom-error {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .custom-error {
    max-width: 460px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
  }

  .custom-error .error-logo {
    height: 220px;
    line-height: 220px;
  }

  .custom-error .error-logo h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #222;
    font-size: 220px;
    letter-spacing: 10px;
    margin: 0px;
    font-weight: 700;
    text-shadow: 2px 2px 0px #c9c9c9, -2px -2px 0px #c9c9c9;
  }

  .custom-error .error-logo h1>span {
    text-shadow: 2px 2px 0px rgb(100, 98, 98), -2px -2px 0px rgb(100, 98, 98), 0px 0px 8px rgb(100, 98, 98);
  }

  .custom-error p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .custom-error a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: var(--green);
    color: antiquewhite;
    border: 2px solid var(--black);
    display: inline-block;
    padding: 10px 25px;
    font-weight: 700;
    transition: 0.2s all;
  }

  .custom-error a:hover {
    color: rgb(100, 98, 98);
    border-color: rgb(100, 98, 98);
  }

  /* --------------------------------------------------- SMALL DEVICES------------------------------------------------------------------*/
@media (max-width: 768px) {
   /* -----------------------403, 404, 500 PAGE---------------------------- */
   .custom-error .error-logo {
       height: 122px;
       line-height: 122px;
   }

   .custom-error .error-logo h1 {
       font-size: 122px;
   }

   .custom-error p {
       padding: 5px;
   }
}


@media (min-width: 995px) {
    .developer-images-container {
        display: contents;
    }
}

@media (min-width: 614px) {
    .copyright {
        display: contents;
    }
}

