/* ------------------------------------Global */
p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
}

.logo {
    height: 60px;
    width: 60px;
    margin: 0;
    padding: 0;
}

.beach {
    height: 100px;
    width: 100px;
}

/* ------------------------------------Animations */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;

}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.mission-animation:nth-child(3) {
    transition-delay: 200ms;
}


@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}



/* ------------------------------------Headings */

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.main-heading-container {
    height: 100vh;
    background-image: url('../uploads/main.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mission-heading,
.locations-heading {
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 25px;
}

.location {
    min-height: 300px;
}

/* ------------------------------------Colour */
body {
    color: whitesmoke;
    background-image: linear-gradient(#007ACC, #7B8FD3);
}

.text-background-blue {
    background-color: rgba(0, 122, 204, 0.7);
    padding: 20px;
    color: white;
}

:root {
    --bs-link-color: black;
    --bs-link-hover-color: whitesmoke;
}

.bg-color {
    background-color: #007ACC;
}

.navbar {
    --bs-navbar-color: whitesmoke;
    min-height: 100%;
    padding: 0;
}

.dropdown-item {
    background-color: #007ACC;
    color: whitesmoke;
}

.dropdown-menu {
    --bs-dropdown-padding-y: 0rem;
}

/* ------------------------------------Navbar */
.user-name {
    margin: 0;
}

.active {
    color: black;
}

/* ------------------------------------Mission statement */


.mission-container {
    font-size: 18px;
}

.aims-heading {
    font-size: 22px;
    margin-bottom: 10px;
}

.aims-subheading {
    font-size: 20px;
    margin: 10px;
}

.main-mission-statement {
    font-size: 20px;
    font-weight: 900;
}

.mission-intro {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.mission-aims {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.mission-aims>p {
    margin-bottom: 20px;
    font-size: 20px;

}

.mission-heading {
    margin-top: 100px;
}

.locations {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mission {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ------------------------------------Locations */


.locations a {
    text-decoration: none;
}

.col-md-4 {
    position: relative;
}

.location {
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: opacity 0.5s;
}

.col-md-3:hover .opaque-overlay {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
}

.bold-text {
    font-weight: 900;
}

/* ------------------------------------Events Page & Blog page */
.card-color {
    color: black
}

.text-hover:hover {
    color: #007ACC;
    font-weight: bold;
}

/* ------------------------------------Footer */


footer {
    color: #fafafa;
    min-height: 80px;

}

.footer-icon {
    font-size: 15px;

}

.developer-image {
    height: 60px;
    width: 60px;

}

.developer-and-address-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

}

.address {
    text-align: left;
    margin-top: 20px;

}

.developer-images-container {
    display: flex;
    align-items: center;
    display: none;

}

.developer-image {
    border: solid 3px white;
    margin-top: 20px;
}

.developer {
    text-align: center;
    margin: 10px;
}

.logo-footer {

    margin-top: 10px;
    height: 100px;
    width: 100px;
}

.copyright {
    font-size: 18px;
    display: none;
}

/*-----------------------CUSTOM ERROR PAGE  */

#custom-error {
    position: relative;
    height: 100vh;
    background-color: var(--background);
    color: white;
}

#custom-error .custom-error {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.custom-error {
    max-width: 460px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
}

.custom-error .error-logo {
    height: 220px;
    line-height: 220px;
}

.custom-error .error-logo h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #222;
    font-size: 220px;
    letter-spacing: 10px;
    margin: 0px;
    font-weight: 700;
    text-shadow: 2px 2px 0px #c9c9c9, -2px -2px 0px #c9c9c9;
}

.custom-error .error-logo h1>span {
    text-shadow: 2px 2px 0px rgb(100, 98, 98), -2px -2px 0px rgb(100, 98, 98), 0px 0px 8px rgb(100, 98, 98);
}

.custom-error p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 15px;
}

.custom-error a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: var(--green);
    color: antiquewhite;
    border: 2px solid var(--black);
    display: inline-block;
    padding: 10px 25px;
    font-weight: 700;
    transition: 0.2s all;
}

.custom-error a:hover {
    color: rgb(100, 98, 98);
    border-color: rgb(100, 98, 98);
}

/* --------------------------------------------------- SMALL DEVICES------------------------------------------------------------------*/
@media (max-width: 768px) {

    /* -----------------------403, 404, 500 PAGE---------------------------- */
    .custom-error .error-logo {
        height: 122px;
        line-height: 122px;
    }

    .custom-error .error-logo h1 {
        font-size: 122px;
    }

    .custom-error p {
        padding: 5px;
    }
}



/*-----------------------CUSTOM ERROR PAGE  */

#custom-error {
    position: relative;
    height: 100vh;
    background-color: var(--background);
    color: white;
}

#custom-error .custom-error {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.custom-error {
    max-width: 460px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
}

.custom-error .error-logo {
    height: 220px;
    line-height: 220px;
}

.custom-error .error-logo h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #222;
    font-size: 220px;
    letter-spacing: 10px;
    margin: 0px;
    font-weight: 700;
    text-shadow: 2px 2px 0px #c9c9c9, -2px -2px 0px #c9c9c9;
}

.custom-error .error-logo h1>span {
    text-shadow: 2px 2px 0px rgb(100, 98, 98), -2px -2px 0px rgb(100, 98, 98), 0px 0px 8px rgb(100, 98, 98);
}

.custom-error p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 15px;
}

.custom-error a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: var(--green);
    color: antiquewhite;
    border: 2px solid var(--black);
    display: inline-block;
    padding: 10px 25px;
    font-weight: 700;
    transition: 0.2s all;
}

.custom-error a:hover {
    color: rgb(100, 98, 98);
    border-color: rgb(100, 98, 98);
}

/*-----------------------Blog page  */
.blog-post-background {
    background-color: #007ACC;
}

.blog-format {
    padding: 50px;
}

.blog-page {
    padding: 50px;
}

.blog-container {
    display: flex;
    justify-content: center;
}

#main-content {
    width: 100%;
}


.btn-join {
    background-color: white;
    border-color: white;
    --bs-btn-hover-border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #007ACC;
}

.btn-submit {
    background-color: #007ACC;
    border-color: white;
    --bs-btn-hover-border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}

.blog-email {
    color: #007ACC;
    margin-top: 10px;
}

.blog-profile-image {
    padding-top: 15px;
}



.form-group {
    padding-bottom: 20px;
}

.text-box {
    padding: 10px;
}

/*-----------------------Log in page  */



.log-in-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../uploads/login-beach.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
}

.log-in h1 {
    padding: 50px;
}

/*-----------------------About us  */

.about-heading-container {
    height: 100vh;
    background-image: url('../uploads/aboutus-image.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about-section {
    height: 100%;
    display: flex;
    justify-content: center;


}

.about-heading-2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;

}

.about-text {
    color: #007ACC;
}

.about-card-horizontal {
    display: flex;
    flex-direction: row;
}

.about-style {
    margin: 10px;
}

.about-padding {
    padding-top: 25px;
    padding-bottom: 25px;
}

.card-img-top {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.about-heading-container2 {
    height: 100vh;
    background-image: url('../uploads/polluted-beach.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-position: center bottom;

}

/*-----------------------Events  */

.event-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

.events-image {
    height: 500px;
    width: 100%;
}

.container-fluid {
    padding: 0px;
}

.fs-1 {
    color: white;
    padding: 10px;
}

.event-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;


}




/* ---------- Google Maps---------------*/
#gmp-map {
    height: 500px;
    width: 500px;
}


/* --------------------------------------------------- SMALL DEVICES------------------------------------------------------------------*/
@media (max-width: 768px) {

    /* -----------------------403, 404, 500 PAGE---------------------------- */
    .custom-error .error-logo {
        height: 122px;
        line-height: 122px;
    }

    .custom-error .error-logo h1 {
        font-size: 122px;
    }

    .custom-error p {
        padding: 5px;
    }
}

@media (min-width: 995px) {
    .developer-images-container {
        display: contents;
    }
}

@media (min-width: 614px) {
    .copyright {
        display: contents;
    }
}

.img-gallery{
    max-width:100%;
    height:100%;
}