{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid blog-heading-container">
    <div class="row">
        <div class="col-12">
            <section class="callout jumbotron text-center">
                <div class="text-background-blue">
                    <h1 class="jumbotron-header">
                        Cleaning Up Our Beautiful Strand Beach: A Day of Conservation
                    </h1>

                </div>
            </section>
        </div>
    </div>
</div>


<div class="card single_post">
    <div class="body blog-post-background">
        <small class="blog-format">Author: Audrey Lordan</small>
        <div class="blog-format  text-center ">
            <p>
                The sun was shining, the waves were crashing, and our team of dedicated volunteers
                came together for a day of purpose and passion. Our beach cleanup group embarked on a mission to make
                a positive impact on our beautiful coastline, and what a rewarding day it was! Our beach cleanup crew
                consisted of people from all walks of life - young and old,
                students and professionals, local residents, and tourists. It was heartwarming to see such a diverse
                group of individuals united by a common goal: preserving the natural beauty of our beloved beach. We
                gathered early in the morning at our designated meeting point, armed with gloves, trash bags, and
                a shared determination to make a difference.



            <p>



            </p>


            <p>The beach was pristine at first glance, but as we delved deeper into our mission, it became evident that
                there was work to be done.
                As we combed the shoreline, we discovered the true extent of the challenge. Plastic bottles,
                wrappers, and cigarette butts littered the sands. Discarded fishing nets and plastic straws posed
                threats to marine life. It was a stark reminder of the importance of our cleanup efforts. Despite the
                daunting task, our team worked seamlessly. Conversations flowed as we
                picked up litter, creating bonds with like-minded individuals who shared our commitment to
                environmental preservation. Laughter and encouragement echoed across the beach.
            </p>






            <p>
                Our efforts were rewarded with more than just a cleaner beach. We had the privilege of witnessing a
                group of dolphins playing in the distance, a testament to the positive impact of our conservation
                work. It served as a reminder of the delicate balance of nature we strive to protect. As the day drew to
                a close, we gathered for a group photo with our collection of trash bags filled
                to the brim. The sense of accomplishment was palpable. Our haul included countless plastic items,
                discarded fishing gear, and other debris that would no longer harm our marine ecosystem. Our beach
                cleanup day was a success, but our work is far from over. We encourage
                everyone in our community to join us in our ongoing efforts to keep our beach clean and
                safe for all to enjoy. Small changes in our daily habits can make a big difference. Cleaning up our
                beautiful beach was not just a day of conservation but a day
                of community, connection, and commitment. Together, we have the power to protect our
                natural treasures and ensure a brighter, cleaner future for generations to come.
            </p>
            <hr class="block-divider" />
            <br>
            <br>

            <strong>
                <p>
                    If you're passionate about preserving our environment and want to be part of
                    our beach cleanup efforts, don't hesitate to reach out. Together, we can make a
                    significant impact and continue to cherish the beauty of our coastline.
                </p>
            </strong>

            <br>
            <div class="d-flex justify-content-center"> <button class="btn btn-lg btn--cta " href="#">
                    Join Us
                </button></div>



        </div>
    </div>
</div>
<div class="card">
    <div class="header">
        <h2>Comments 3</h2>
    </div>
    <div class="body">
        <ul class="comment-reply list-unstyled">
            <li class="row clearfix">
                <div class="icon-box col-md-2 col-4"><img class="img-fluid img-thumbnail"
                        src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Awesome Image">
                </div>
                <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                    <h5 class="m-b-0">Gigi Hadid </h5>
                    <p>Why are there so many tutorials on how to decouple WordPress? how fast and
                        easy it is to get it running (and keep it running!) and its massive
                        ecosystem. </p>
                    <ul class="list-inline">
                        <li><a href="javascript:void(0);">Mar 09 2018</a></li>
                        <li><a href="javascript:void(0);">Reply</a></li>
                    </ul>
                </div>
            </li>
            <li class="row clearfix">
                <div class="icon-box col-md-2 col-4"><img class="img-fluid img-thumbnail"
                        src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Awesome Image">
                </div>
                <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                    <h5 class="m-b-0">Christian Louboutin</h5>
                    <p>Great tutorial but few issues with it? If i try open post i get following
                        errors. Please can you help me?</p>
                    <ul class="list-inline">
                        <li><a href="javascript:void(0);">Mar 12 2018</a></li>
                        <li><a href="javascript:void(0);">Reply</a></li>
                    </ul>
                </div>
            </li>
            <li class="row clearfix">
                <div class="icon-box col-md-2 col-4"><img class="img-fluid img-thumbnail"
                        src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="Awesome Image">
                </div>
                <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                    <h5 class="m-b-0">Kendall Jenner</h5>
                    <p>Very nice and informative article. In all the years I've done small and
                        side-projects as a freelancer, I've ran into a few problems here and there.
                    </p>
                    <ul class="list-inline">
                        <li><a href="javascript:void(0);">Mar 20 2018</a></li>
                        <li><a href="javascript:void(0);">Reply</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="card">
    <div class="header">
        <h2>Leave a reply <small>Your email address will not be published. Required fields are
                marked*</small></h2>
    </div>
    <div class="body">
        <div class="comment-form">
            <form class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email Address">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <textarea rows="4" class="form-control no-resize"
                            placeholder="Please type what you want..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>




{% endblock %}