{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="bg-color">

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-10 my-5">
            <h1 class="mb-4">ShoreCleanse</h1>
            <small></small>
            
                <h3>About Us</h3> 
                <p>
                Welcome and thank you for visiting ShoreCleanse!
                
                We are dedicated to making a positive impact on our environment by cleaning up and preserving the beauty of our beaches. Our passionate team of volunteers works tirelessly to ensure that our coastlines remain clean, safe, and beautiful for everyone to enjoy.
                </p>
                <h4> Our Mission</h4>
                <p>
                Our mission is simple yet powerful: To protect and restore the natural beauty of our beaches and coastal areas through community-driven cleanup efforts. We believe that every action, no matter how small, contributes to a cleaner and healthier environment.
                </p>
                <h4>What We Do</h4>
                <br>
                <h6>Beach Cleanups:</h6>
                <p>
                    We organize regular beach cleanup events where volunteers come together to collect litter, plastics, and debris from our shorelines. These cleanups help prevent harm to marine life and maintain the scenic beauty of our beaches.
                </p>
                <h6>Education and Awareness: </h6>
                <p>
                    We are committed to raising awareness about the importance of preserving our coastal ecosystems. Through workshops, seminars, and educational programs, we empower individuals to become stewards of our oceans.
                </p>
                <h6>Advocacy: </h6>
                <p>
                    We actively engages with local authorities, businesses, and communities to promote responsible waste disposal and sustainable practices. We advocate for policies that protect our coastlines and marine habitats.
                </p>
                <h4>Why Join Us?</h4>
                <br>
                <h6>Passion for the Environment:</h6>
                <p>
                We are driven by a deep love for the ocean and a desire to protect it. Our volunteers are dedicated to making a difference. If you're passionate about preserving our environment and want to be part of our beach cleanup efforts, don't hesitate to reach out. Together, we can make a significant impact and continue to cherish the beauty of our coastline.
            </p>
                </p>
                <h6>Community Involvement:</h6> <p>We believe that positive change starts at the community level. By joining our group, you become part of a community of like-minded individuals working towards a common goal.
                </p>
                <h6>Impact:</h6> 
                <p>
                    Our efforts have a direct and tangible impact on the environment. You can see the results of your hard work during our beach cleanups.
                </p>
                <h4>Get Involved</h4>
                <p>
                Join us in our mission to keep our beaches clean and protect our coastal ecosystems. Whether you're an experienced environmentalist or new to beach cleanups, there's a place for you in ShoreCleanse. Together, we can make a difference.
                </p>
                <h4>Contact Us</h4>
                <p>
                Thank you for visiting us. And we hope you can join us soon! Together, we can create a greener, cleaner, and more beautiful tomorrow.
                Have questions or want to get involved? Feel free to reach out to us at<a class="nav-link" href="{% url 'contact' %}"><strong>ShoreCleanse</strong></a> We'd love to hear from you!
                
                
                </p>
               
  
<strong>A Call to Action:<strong>
Our beach cleanup days are always a success, but our work is far from over. We encourage everyone in our community to join us in our ongoing efforts to keep our beach clean and safe for all to enjoy. Small changes in our daily habits can make a big difference.

Cleaning up our beautiful beach was not just a day of conservation but a day of community, connection, and commitment. Together, we have the power to protect our natural treasures and ensure a brighter, cleaner future for generations to come.

</div>
<hr>
{% endblock %}