<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shore Cleanse</title>
</head>

<body>

    <ul>
        <li><a href="{% url 'index' %}">Index</a></li>
        <li><a href="{% url 'about' %}">About Shore Cleanse</a></li>
        <li><a href="{% url 'all_events' %}">View all events</a></li>

        {% if request.user.is_staff %}
        <p>Hello {{ request.user.username }}</p>
        <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Log in</a></li>
        {% endif %}

    </ul>

    {% block content %}
    {% endblock %}
</body>

</html>