{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="bg-color">

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-6 my-5">
            <h1 class="mb-4">Gallery</h1>
            <h3> See us in action!</h3>
        </div>
        <!--Grid column--><!-- Testing for gallery page --> 
<!--Grid row-->

<div class="row">
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">
      <img
        data-mdb-toggle="animation"
        data-mdb-animation-start="onScroll"
        data-mdb-animation="fade-in"
        src="{% static 'uploads/beachclean3.jpg'%}"
        alt="People cleaning at a beach"
        class="img-fluid img-gallery shadow-1-strong rounded"
      />
    </div>
    <!--Grid column-->
  
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">
      <img
        data-mdb-toggle="animation"
        data-mdb-animation-start="onScroll"
        data-mdb-animation="fade-in"
        data-mdb-animation-delay="300"
        src="{% static 'uploads/beachclean4.jpg'%}"
        alt="A man picking up a plastic bottle at the beach"
        class="img-fluid img-gallery shadow-1-strong rounded"
      />
    </div>
    <!--Grid column-->
  
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">
      <img
        data-mdb-toggle="animation"
        data-mdb-animation-start="onScroll"
        data-mdb-animation="fade-in"
        data-mdb-animation-delay="500"
        src="{% static 'uploads/beachclean5.jpg'%}"
        alt="A mans hand picking up a plastic bottle at a beach clean"
        class="img-fluid img-gallery  shadow-1-strong rounded"
      />
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
  <!--Grid row-->
<div class="row">
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">
      <img
        data-mdb-toggle="animation"
        data-mdb-animation-start="onScroll"
        data-mdb-animation="fade-in"
        src="{% static 'uploads/beachclean6.jpg'%}"
        alt="Two women collecing trash into bags at a beach"
        class="img-fluid img-gallery  shadow-1-strong rounded"
      />
    </div>
    <!--Grid column-->
  
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">
      <img
        data-mdb-toggle="animation"
        data-mdb-animation-start="onScroll"
        data-mdb-animation="fade-in"
        data-mdb-animation-delay="300"
        src="{% static 'uploads/beachclean7.jpg'%}"
        alt="Two smiling women picking up trash at a beach"
        class="img-fluid img-gallery shadow-1-strong rounded"
      />
    </div>
    <!--Grid column-->
  
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">
      <img
        data-mdb-toggle="animation"
        data-mdb-animation-start="onScroll"
        data-mdb-animation="fade-in"
        data-mdb-animation-delay="500"
        src="{% static 'uploads/beachclean8.jpg'%}"
        alt="Family and child participating in a beach clean"
        class="img-fluid img-gallery shadow-1-strong rounded"
      />
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
  
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">
      <img
        data-mdb-toggle="animation"
        data-mdb-animation-start="onScroll"
        data-mdb-animation="fade-in"
        src="{% static 'uploads/carnivan2.jpg'%}"
        alt="Scenic image of Carnivan beach with cliffs and ocean"
        class="img-fluid img-gallery shadow-1-strong rounded"
      />
    </div>
    <!--Grid column-->
  
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">
      <img
        data-mdb-toggle="animation"
        data-mdb-animation-start="onScroll"
        data-mdb-animation="fade-in"
        data-mdb-animation-delay="300"
        src="{% static 'uploads/carnivan1.jpg'%}"
        alt="Carnivan beach with cliff in the backdrop and wavey ocean"
        class="img-fluid img-gallery  shadow-1-strong rounded"
      />
    </div>
    <!--Grid column-->
  
    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">
      <img
        data-mdb-toggle="animation"
        data-mdb-animation-start="onScroll"
        data-mdb-animation="fade-in"
        data-mdb-animation-delay="500"
        src="{% static 'uploads/duncannon2.jpg'%}"
        alt="Long sandy beach with calm ocean"
        class=" img-gallery shadow-1-strong rounded"
      />
    </div>
    <!--Grid column-->

</div>
</div>

{% endblock %}